header{
    background-color: rgb(252, 103, 54);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 15;
    nav{
        background-color: rgb(252, 103, 54);
        div{
            a{
                img{
                    height: 80px;
                    width: 80px;
                    margin: nth($list: $margin, $n: 1)
                }
            }
            div{
                ul{
                    list-style: none;
                    li{
                        color: rgb(4, 20, 41) !important;
                        font-family: Verdana, Geneva, Tahoma, sans-serif !important;
                        font-weight: 900 !important;
                    }
                }
            }
        }
    }
}
